<h1>New Card Registration</h1>

<%= form_with model: @wallet_card, url:"/wallet_card/create" do |form| %>
    
    <% if @wallet_card.errors.any? %>
        <% @wallet_card.errors.full_messages.each do |message| %>
        <p><%= message %> </p>
        <% end %>
    <% end %>
    
    <div>
        <%= form.label :card_number %><br>
        <%= form.text_field :card_number %>
    </div>

    <div>
        <%= form.label :expiry_date%><br>
        <%= form.date_field :expiry_date %>
    </div>

    <div>
        <%= form.label :cvv %><br>
        <%= form.text_field :cvv %>
    </div>
    <div>
        <%= form.submit %>
    </div>

<% end %>